@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

.content {
    max-width: 1600px;
    margin: 0 auto;
  }

.logo {
    width: 10%;
    position: fixed;
    margin-left: 40px;
    margin-top: 10px;
    
}

.bikini-bottom-img {
    width: 100%;
    
    
}

.bikini-bottom-card h1 {
   
    position: absolute;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #fefae0;
    padding: 20px;
    padding-top: 30px;
    font-size: 60px;
    border-radius: 50px 50px 50px 50px;
    margin-top: 35%;
    margin-left: 7%;
    font-family: 'Fuzzy Bubbles', cursive;
   
  }